.main-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main {
    margin: auto;
    height: 40rem;
    width: 35rem;
    border: whitesmoke 3px solid;
    background-color: #4F6D7A;
}

.i-data:first-child {
    margin: 1.5rem;
}

.button-and-help {
    text-align: center;
}

.i-button {
    height: 2rem;
    width: 12.6rem;
}