.page-header {
    height: 15rem;
    background-color: #080402;
    position: relative;
}

.heading-top {
    color: darkgreen;
    font-size: xxx-large;
    display: block;
    text-align: center;
    padding-top: 6rem;
    user-select: none;
}